<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- CDN CSS  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.1.4/flatpickr.min.css}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bulma.css}"/>

	<!-- Custom CSS  -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
	<div class="hero is-small is-info">
		
		<div class="hero-head">
			<nav class="navbar">
				<div class="container">
		        	<div class="navbar-brand">
		          		<a class="navbar-item is-active">
		            		Home
		          		</a>
		          		
		          		<a class="navbar-item">
	              			View
	            		</a>
		          		
		          		<span class="navbar-burger burger" data-target="navbarMenuHeroA">
		            		<span></span>
		            		<span></span>
		            		<span></span>
		          		</span>
		        	</div>
		        
		        	<div id="navbarMenuHeroA" class="navbar-menu">
		          		<div class="navbar-end">
		            		<a class="navbar-item is-active">
		              			Home
		            		</a>
		          		</div>
		        	</div>
		      	</div>
			</nav>
		</div>	
	
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-1">
					Insert
				</h1>
	    	</div>
	  	</div>
	</div>
	
    <section>	
        <div class="container">        
            <form class="form" th:action="@{/receipt/process}" th:object="${request}" action="" method="POST">
				
				<div class="field">
                    <label class="label">Date</label>
                    <div class="control">
                        <input class="input date" type="text" name="date" required="required" placeholder="yyyy-MM-dd HH:mm" th:field="*{date}"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Store Name</label>
                    <div class="control">
                        <input class="input" name="name" type="text" required="required" placeholder="NamaName" th:field="*{storeName}"/>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Street Address</label>
                    <div class="control">
                        <input class="input" name="street" type="text" required="required" placeholder="42S, University Pl, Apt 4" th:field="*{street}" />
                    </div>
                </div>

                <div class="field is-grouped">
                    
					<div class="control is-expanded">
						<label class="label">City</label>
                       	<input class="input" name="city" type="text" required="required" placeholder="Stillwater" th:field="*{city}" />
                   	</div>
                   	
                    
                    <div class="control">
                    	<label class="label">Zip Code</label>
                        <input class="input" name="code" type="text" required="required" placeholder="74075" th:field="*{code}" />
                    </div>
                    
                   
                    <div class="control is-expanded">
                     	<label class="label">State</label>
                        <input class="input" name="state" type="text" required="required" placeholder="Oklahoma" th:field="*{state}" />
                    </div>
                    
                    
                    <div class="control">
                    	<label class="label">Country</label>
                        <input class="input" name="country" type="text" required="required" placeholder="US" th:field="*{country}"/>
                    </div>
                </div>
				
				<div class="control has-text-centered is-expanded">
					<a class="button is-primary" id="toTable">Detail</a>
				</div>

				<div id="table">
            		<span class="table-add has-text-success is-medium"><i class="iconz fas fa-plus fa-2x"></i></span>

	            	<table class="table is-fullwidth">
	            		<thead>
							<tr>
								<th>No.</th>
						        <th>Name</th>
						        <th>Qty</th>
						        <th>Unit Price</th>
						        <th>Price</th>
						        <th>Tax</th>
						        <th></th>
					      	</tr>
				      	</thead>
				      	<tbody>
				      	
				      		<tr class="hide">
						    	<th id="srnos" style="text-align:right">2</th>
								<td>
									<input required="required" class="input" type="text" th:field="*{name}"/>
								</td>
								<td>
									<input required="required" class="input qty" type="number" min="1" th:field="*{quantity}" placeholder="123"/>
								</td>
								<td>
									<input required="required" class="input uPrice" type="number" step="0.01" min="0" th:field="*{unitPrice}" placeholder="123.00"/>
								</td>
								<td>
									<div class="price"></div>
									<input class="priceVal input" type="hidden" step="0.01" min="0" th:field="*{price}"/>
								</td>
								<td>
									<input class="indiTax" type="hidden" th:field="*{tax}"/>
									<a class="button taxBox iconz is-primary is-outlined is-inverted fas fa-usd"></a>
								</td>
								<!-- <td><input class="indiTax hide" type="number" th:field="*{tax}"/><span class="icon is-medium taxBox"><i class="iconz fas fa-usd"></i></span></td> -->
								<td><span class="table-remove icon has-text-danger is-medium"><i class="iconz fas fa-times fa-2x"></i></span></td>
							</tr>
							
							<tr class="control">
								<th style="text-align:right">1</th>
								<td>
									<input required="required" class="input" type="text" th:field="*{name}"/>
								</td>
								<td>
									<input required="required" class="input qty" type="number" min="1" th:field="*{quantity}" placeholder="123"/>
								</td>
								<td>
									<input required="required" class="input uPrice" type="number" step="0.01" min="0" th:field="*{unitPrice}" placeholder="123.00"/>
								</td>
								<td>
									<div class="price"></div>
									<input class="priceVal input" type="hidden" step="0.01" min="0" th:field="*{price}"/>
								</td>
								<td>
									<input class="indiTax" type="hidden" th:field="*{tax}"/>
									<a class="button taxBox iconz is-primary is-outlined is-inverted fas fa-usd"></a>
								</td>
								<!-- <td><input class="indiTax hide" type="number" th:field="*{tax}"/><span class="icon is-medium taxBox"><i class="iconz fas fa-usd"></i></span></td> -->
								<td><span class="table-remove icon has-text-danger is-medium"><i class="iconz fas fa-times fa-2x"></i></span></td>
							</tr>

						</tbody>
						<tfoot>
							<!-- Total -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Total:</th>
								<td><div id="dummyTotal"></div><input id="total" class="input" type="hidden" step="0.01" th:field="*{total}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Tax -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Tax:</th>
								<td><div id="taxText"></div><input id="taxVal" class="input" type="hidden" th:field="*{totalTax}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Tips -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Tips:</th>
								<td><input id="tips" class="input" type="number" step="0.01" min="0" th:field="*{tips}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Grandtotal -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Grand Total:</th>
								<td><div id="grandTotalText"></div><input id="grandTotalVal" class="input" type="hidden" th:field="*{grandTotal}"/></td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>
				
                <div class="control has-text-centered">
                    <button class="button is-primary" th:value="#{form.submit}">Down down details</button>
                </div>
            </form>
        </div>
    </section>
    
    <!-- Script  -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.1.4/flatpickr.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    
    <!-- Custom JS -->    
    <script th:src="@{/script/script.js}"></script>
</body>

</html>