*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
}

section{
    padding: 1rem 0;
}

.form{
    /*max-width: 960px;*/
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid #eee;
}

.hide {
	display: none !important;
}

.table-add {
  cursor: pointer;
/*   position: absolute;
  top: 8px;
  right: 0; */
}

.fa-plus {
 	color: #070;
}
.fa-plus:hover {
	color: #0b0;
}

.iconz::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    cursor: pointer;
}

.fa-times {
	color: #ffe8ec;
}

.fa-times:hover {
	color: #ff3860;
}

.fa-usd {
	color: #c1c1c1;
}

.fa-usd:hover {
	color: #26ff3b;
}

.fa-usd:active {
	color: #2fb73d;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0; 
}

#tipCell {
	width: 10%;
}

#tips {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 0;
}

#tips:hover {
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	border: 1px solid transparent;
	border-color: #dbdbdb;
	-webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

#tips:focus,
#tips:active,
#tips.is-focused, 
#tips.is-active {
	border: 1px solid transparent;
	box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
	border-color: #3273dc;
	-webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

#taxVal {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-left: 0;
}

#taxVal:hover {
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	border: 1px solid transparent;
	border-color: #dbdbdb;
	-webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

#taxVal:focus,
#taxVal:active,
#taxVal.is-focused, 
#taxVal.is-active {
	border: 1px solid transparent;
	box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
	border-color: #3273dc;
	-webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

.modal-style {
	margin: 0;
	border: none;
}

#success-foreground {
	position: fixed;
    opacity: 0.5;
    transition: 1s all;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    width: 100vw;
    height: 100vh;
}

#success-load:after {
/* 	-webkit-animation: spinAround 500ms infinite linear;
	animation: spinAround 1000ms infinite linear;
	border: 10px solid #1bd33f;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 20em;
	width: 20em;
	left: calc(50% - (20em / 2));
	top: calc(50% - (20em / 2)); */
}

#success-load {
	top: -20%;
	border: none;
	background-color: transparent;
}

.fa-check {
	color: #1bd33f;
    font-size: 10em;
	top: 16%;
	left: 46%; 
	position: absolute;
}

.dropdown-menu {
	width: 13rem;
}

#catA {
	background-color: #fb9c00;
	color: white;
}

.tag.food {
	background-color: #ffc7d2;
	color: black;
}

.tag.acce {
	background-color: #ffd58f;
	color: black;
}

.tag.bill {
	background-color: #ffeead;
	color: black;
}

.tag.qual {
	background-color: #c4ffd9;
	color: black;
}

.tag.spen {
	background-color: #d2edff;
	color: black;
}

.small-tag {
	margin: 0.1em;
}

.fadeOut.animated {
	/* animation-delay: 0.5s; */
}

.animated.fadeIn {
	/* animation-delay: 1s; */
}

.bounceOutRight.animated {
	/* animation-delay: 10.5s; */
}

.bounceInLeft.animated {
	/* -webkit-animation: bounceInLeft 1s; Safari 4+
	-moz-animation:    bounceInLeft 100s; Fx 5+
	-o-animation:      bounceInLeft 1s; Opera 12+
	animation:         bounceInLeft 1s; IE 10+, Fx 29+ */
	animation-delay: 10.5s;
}
