<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- CDN CSS  -->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.1.4/flatpickr.min.css}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <!-- <link rel="stylesheet" th:href="@{/css/fontawesome-all.css}"/> -->
    <link rel="stylesheet" th:href="@{/css/bulma.css}"/>
    <!-- Custom CSS  -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    
    <!-- Script  -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    
</head>

<body>
    <section>
        <div class="container">          
	        <div class="field">
				<div class="hero is-small is-info">
					<div class="hero-body">
						<div class="container">
							<h1 class="title is-1">
								Insert
							</h1>
							
							<h2 class="subtitle">
				        		Detail
							</h2>
				    	</div>
				  	</div>
				</div>
			</div>
				
				      
            <form class="form" th:action="@{/receipt/processDetail}" th:object="${detail}" action="" method="POST">
	            <div id="table">
	            	
            		<span class="table-add has-text-success is-medium"><i class="iconz fas fa-plus fa-2x"></i></span>

	            	<table class="table">
	            		<thead>
							<tr>
								<th>No.</th>
						        <th>Name</th>
						        <th>Qty</th>
						        <th>Unit Price</th>
						        <th>Price</th>
						        <th>Tax</th>
						        <th></th>
					      	</tr>
				      	</thead>
				      	<tbody>
				      	
				      		<tr class="hide">
						    	<th id="srnos" style="text-align:right">2</th>
								<td><input class="input" type="text" th:field="*{name}"/></td>
								<td><input class="input qty" type="number" min="1" th:field="*{quantity}" placeholder="123"/></td>
								<td><input class="input uPrice" type="number" step="0.01" min="0" th:field="*{unitPrice}" placeholder="123.00"/></td>
								<td><div class="price"></div><input class="priceVal input" type="hidden" step="0.01" min="0" th:field="*{price}" placeholder="123.00"/></td>
								<td><input class="indiTax hide" type="number" th:field="*{tax}"/><input class="checkbox" type="checkbox" th:field="*{dummyTax}"/></td>
								<td><span class="table-remove icon has-text-danger is-medium"><i class="iconz fas fa-times fa-2x"></i></span></td>
							</tr>
							
							<tr class="control">
								<th style="text-align:right">1</th>
								<td><input class="input" type="text" th:field="*{name}"/></td>
								<td><input class="input qty" type="number" min="1" th:field="*{quantity}" placeholder="123"/></td>
								<td><input class="input uPrice" type="number" step="0.01" min="0" th:field="*{unitPrice}" placeholder="123.00"/></td>
								<td><div class="price"></div><input class="priceVal input" type="hidden" step="0.01" min="0" th:field="*{price}" placeholder="123.00"/></td>
								<td><input class="indiTax hide" type="number" th:field="*{tax}"/><input class="checkbox" type="checkbox" th:field="*{dummyTax}"/></td>
								<td><span class="table-remove icon has-text-danger is-medium"><i class="iconz fas fa-times fa-2x"></i></span></td>
							</tr>

						</tbody>
						<tfoot>
							<!-- Total -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Total:</th>
								<td><div id="dummyTotal"></div><input id="total" class="input" type="hidden" step="0.01" min="0" th:field="*{total}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Tax -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Tax:</th>
								<td><div id="taxText"></div><input id="taxVal" class="input hide" type="number" th:field="*{totalTax}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Tips -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Tips:</th>
								<td><input id="tips" class="input" type="number" step="0.01" min="0" th:field="*{tips}"/></td>
								<td></td>
								<td></td>
							</tr>
							<!-- Grandtotal -->
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th style="text-align:right">Grand Total:</th>
								<td><div id="grandTotalText"></div><input id="grandTotalVal" class="input" type="hidden" th:field="*{grandTotal}"/></td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
					</table>
				</div>

                <div class="control">
                    <button id="saveDetail" class="button is-primary" th:value="#{form.submit}">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.1.4/flatpickr.min.js}"></script>
    <script th:src="@{/script/script.js}"></script>
</body>

</html>